body
{
  min-width: 450px;
  font-size: 13px;
  background-color: #f8f6f2;
  min-height:200px;
}

.clear-button {
    margin:auto;
}
ul {
    list-style-type: none;
}

.task-delete {
  /* прописать цетровку по горизонтали */
  vertical-align:middle;
}

.task-delete:hover {
  filter: drop-shadow(0 0);
}


#task-form-container {
  position: fixed;
  top: 15px;
  left: 10px;
  z-index: 9999;
  display: none;
  width: 300px;
  height: 100px;
  text-align: center;
  background-color:lightgray;
  padding:10px;
}